*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Roboto', sans-serif;
}

canvas{
    
}

.container{
    margin: 0em 0em;
}

iframe {
    height: 300px;
    width: 100%;
    resize: both;
    overflow: auto;
    border: solid 0.1em rgb(48, 48, 48);
}

#editor{
    padding: 4px;
    background: rgb(29, 29, 29);
    height: 50vh;
    overflow: hidden;
    position: relative;
}


.node{ 
    display: inline-block;
    background: #2c2c2c;
    border: 0.064em solid #ffffff00;
    border-radius: 10px;
    /*height: 10em;*/
    min-width: 12em;
    /*resize: both;*/
    position: absolute;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.node:hover{
    border: 0.064em solid #ffffff3a;
}

.node .header{
    background: #226491;
    color: white;
    padding: 0.5em 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.node .content{
    color: white;
    padding: 0.5em 1em;
}

.input{
    position: relative;
    height: 1.6em;
}

.input .dot{
    overflow: visible;
    position: absolute;
    left: -0.3em;
    top: 0.5em;
    height: 0.6em;
    width: 0.6em;
    background: #707070;
    border: calc(1em / 16) solid #000000af;
    border-radius: 100%;
}

.node .output{
    overflow: visible;
    position: absolute;
    right: -0.3em;
    top: 0.9em;
    height: 0.6em;
    width: 0.6em;
    background: #707070;
    border: calc(1em / 16) solid #000000af;
    border-radius: 100%;
}